.card {
    width: 300px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    width: 22rem;
    transition: transform 0.2s;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: translateY(-10px);
}

.card-text-box {
    width: 100%;
    background-color: #F9FAFB;
    padding: 1rem;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}

.card-author {
    display: flex;
    align-items: center;
}

.card-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 1rem;
}

.card-author-info {
    display: flex;
    flex-direction: column;
}

.card-name {
    font-size: 1.2rem;
}